
</div>
<script src="https://kit.fontawesome.com/cada0c8598.js" crossorigin="anonymous"></script>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Amarnath Banerjee</p>
  </div>
</div>
</body>
</html>
