
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="brand_box">
      <h1>blank_space</h1>
    </div>
    <div class="user_links">
      <a href="/about">
        <span class="icon"><i class="bi bi-file-person-fill"></i></i></span>
        <span class="text">About</span>
      </a>
      <a href="/contact">
        <span class="icon"><i class="bi bi-telephone"></i></i></span>
        <span class="text">contact</span>
      </a>
  </div>
  </div>

</body>
</html>
