<%- include("partials/header"); -%>
<h1>Register</h1>

<form action="/register" method="POST">
    <input type="email" placeholder="Your Mail ID" id="mail" name="mail">
    <input type="password" placeholder="We will keep it secret" id="pass" name="pass">
    <button type="submit">Register</button>
</form>


<%- include("partials/footer"); -%>